:root {
  --blue: #0189eb00;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.navbar-no-shadow {
  z-index: 999;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: #50505033;
  position: sticky;
  top: 0;
}

.navbar-no-shadow-container {
  z-index: 5;
  background-color: #0000;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #fff;
  letter-spacing: .25px;
  border-radius: 6px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #1a1b1fbf;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.body {
  background-color: var(--blue);
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  overflow-x: clip;
}

.image {
  text-align: left;
}

.hero-stack {
  background-color: #f5f7fa00;
  border-bottom: 1px #e4ebf3;
  padding: 80px 30px;
  position: sticky;
  overflow: clip;
}

.container {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow: visible;
}

.hero-wrapper-two {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.hero-image {
  width: 100%;
  margin-top: 50px;
}

.hero-image.shadow-two {
  max-width: 85%;
  margin-top: 0;
  margin-bottom: 32px;
  transform: rotate(0);
}

.text-block {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.heading {
  color: #fff;
  text-align: center;
  min-width: 500px;
  max-width: 5%;
  margin-bottom: 20px;
  font-style: normal;
}

.text-span {
  text-decoration: underline;
}

.hero-without-image {
  color: #fff;
  background-color: #0000;
  border-bottom: 1px #e4ebf3;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 600vh;
  margin-bottom: 221px;
  padding: 10% 30px 80px;
  display: flex;
  position: relative;
  overflow: clip;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two-2 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 95px;
  font-size: 12px;
  display: flex;
  position: sticky;
  top: 167px;
  bottom: auto;
}

.margin-bottom-24px-2 {
  margin-bottom: 24px;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.heading-2 {
  font-size: 25px;
}

.heading-3 {
  opacity: 0;
  margin-top: -104px;
  margin-bottom: 60px;
  font-size: 25px;
  position: static;
  top: 200vh;
  bottom: auto;
}

.image-2 {
  vertical-align: baseline;
  max-width: 330px;
  position: sticky;
  top: 257px;
  overflow: clip;
}

.div-block {
  z-index: -1;
  background-image: linear-gradient(#0189eb, #74c3fc);
  min-width: 100vw;
  min-height: 100vh;
  display: block;
  position: fixed;
}

.div-block-2 {
  opacity: .55;
  filter: blur(100px);
  color: #33d6ef;
  mix-blend-mode: soft-light;
  background-color: #33d6ef;
  border-radius: 20px;
  min-width: 500px;
  min-height: 500px;
  position: absolute;
  inset: 58.898px 710px 388.898px 240px;
}

.div-block-3 {
  opacity: 1;
  filter: blur(5px) blur(500px);
  mix-blend-mode: hard-light;
  background-color: #68c0ff;
  border-radius: 500px;
  min-width: 500px;
  min-height: 500px;
  margin-top: 106px;
  margin-left: 608px;
  transition: opacity .2s;
  position: absolute;
}

.flex-block {
  grid-column-gap: 13px;
  grid-row-gap: 13px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-left: calc(70vw - 450px);
  margin-right: auto;
  position: sticky;
  top: 251px;
}

.footer-dark {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: static;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #1a1b1fbf;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  background-color: #e4ebf3;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: right;
  margin-top: 0;
  font-size: 12px;
  line-height: 16px;
}

.image-3 {
  margin-right: 16px;
  position: sticky;
  top: 200px;
}

.div-block-4 {
  display: flex;
}

.testimonial-column-light {
  background-color: #fff;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  color: #919191;
  text-align: left;
  margin-bottom: 16px;
  font-size: 25px;
}

.testimonial-grid-two {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  margin-top: 50px;
  display: grid;
}

.testimonial-card-two {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f6f6f6;
  border: 1px #e4ebf3;
  border-radius: 10px;
  flex-direction: column;
  padding: 16px;
  display: flex;
}

.testimonial-text-two {
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 700;
}

.testimonial-info-three {
  background-color: #f5f7fa;
  align-items: center;
  padding: 24px 16px;
  display: flex;
}

.testimonial-image {
  object-fit: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.testimonial-image.centered {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
  margin-right: 0;
}

.testimonial-main-heading {
  margin-bottom: 2px;
  font-weight: 600;
}

.testimonial-stack {
  background-color: #fff;
  border-bottom: 1px solid #e4ebf3;
  height: 120vh;
  padding: 80px 30px;
  position: relative;
}

.testimonial-card-three {
  text-align: center;
  background-color: #f5f7fa;
  background-image: url('../images/ddIrRW8417c.jpg');
  background-position: 0 0;
  background-size: cover;
  height: 100%;
  padding: 64px 42px;
}

.testimonial-card-content {
  flex-direction: column;
  align-items: center;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.testimonial-card-heading {
  margin-bottom: 24px;
}

.testimonial-text-three {
  font-size: 24px;
  line-height: 32px;
}

.testimonial-info-four {
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.testimonial-author-name-three {
  margin-bottom: 10px;
}

.flex-block-2 {
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.image-4 {
  margin-left: 18px;
}

.image-5 {
  margin-bottom: 21px;
}

.unsplash-image {
  object-fit: contain;
  object-position: 50% 50%;
  border-radius: 8px;
  width: 100%;
  height: 300px;
  display: block;
}

.notify-me-at-launch {
  color: #0c8fec;
  background-color: #fff;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 12px;
  text-decoration: none;
  display: flex;
}

.code-embed {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: #fff0;
  background-image: url('../images/Rectangle-161124391.svg');
  background-position: 0 0;
  background-size: 260px 143px;
  background-attachment: scroll;
  width: 260px;
  height: 143px;
  margin-top: 59px;
  margin-left: auto;
  margin-right: -53px;
  position: absolute;
  inset: 0% 0% auto auto;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.body-2 {
  background-image: linear-gradient(#0189eb, #74c3fc);
}

.form {
  color: #fff;
  width: auto;
  padding-top: 99px;
  padding-bottom: 99px;
}

.submit-button {
  color: #0d8fed;
  background-color: #fff;
}

.container-5 {
  padding-left: 220px;
  padding-right: 220px;
}

.paragraph {
  font-size: 12px;
  line-height: 15px;
}

.hero-subscribe-right {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-6 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 46%;
  display: flex;
}

.shadow-two {
  box-shadow: 0 4px 24px #96a3b514;
}

.margin-bottom-24px-3 {
  margin-bottom: 24px;
}

.hero-form {
  margin-bottom: 12px;
}

.hero-form-container {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.hero-form-input {
  color: #1a1b1f;
  border: 1px solid #d1d6db;
  width: 240px;
  height: auto;
  margin-bottom: 0;
  margin-right: 9px;
  padding: 5px 16px;
  font-size: 14px;
  line-height: 20px;
  transition: all .2s;
}

.hero-form-input:hover, .hero-form-input:focus {
  border-color: #76879d;
}

.hero-form-input::placeholder {
  color: #1a1b1fcc;
}

.button-primary-3 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-3:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-3:active {
  background-color: #43464d;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.code-embed-2 {
  width: 100vw;
  height: 120vh;
  position: absolute;
  inset: 0% auto auto 0%;
}

@media screen and (max-width: 991px) {
  .nav-menu-wrapper {
    background-color: #0000;
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container, .container-2, .container-3 {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .container-4 {
    max-width: 728px;
  }

  .testimonial-grid-two {
    grid-column-gap: 30px;
  }

  .testimonial-info-three {
    flex-direction: column;
  }

  .container-6 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 0;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .hero-stack, .hero-without-image {
    padding: 60px 15px;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: #1a1b1fbf;
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .testimonial-column-light {
    padding: 60px 15px;
  }

  .testimonial-grid-two {
    grid-template-columns: 1fr;
  }

  .testimonial-info-three {
    flex-direction: row;
  }

  .testimonial-stack {
    padding: 60px 15px;
  }

  .testimonial-text-three {
    font-size: 20px;
    line-height: 28px;
  }

  .container-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-subscribe-right {
    padding: 60px 15px;
  }

  .hero-split {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .body {
    box-sizing: border-box;
    object-fit: cover;
    min-width: 100vw;
    overflow: hidden scroll;
  }

  .hero-stack {
    padding-top: 40px;
  }

  .container {
    max-width: none;
  }

  .hero-image.shadow-two {
    margin-bottom: 20px;
  }

  .heading {
    min-width: 100%;
  }

  .hero-without-image {
    height: 1000vh;
  }

  .container-2, .container-3, .container-4 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .testimonial-card-three {
    padding-left: 24px;
    padding-right: 24px;
  }

  .testimonial-info-four {
    text-align: center;
    flex-direction: column;
  }

  .icon {
    color: #fff;
    border: 1px #fff;
  }

  .container-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-6 {
    max-width: none;
  }

  .hero-form {
    align-self: stretch;
    margin-bottom: 15px;
  }

  .hero-form-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-form-input {
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
  }
}

#w-node-_7b4190a2-e2ab-26a4-bc99-2a8a28c65d95-50d4b744, #w-node-_4a28fad3-bd73-59eb-04b8-4cd563d5283d-50d4b744, #w-node-ec196d93-3d32-921e-eec2-192f6e44a6e0-50d4b744, #w-node-_14305c47-7789-e967-e8a3-9455e322ae4c-50d4b744, #w-node-a9ed5aa5-2e4a-e68e-15bd-d99d82c5a5e0-50d4b744, #w-node-a9ed5aa5-2e4a-e68e-15bd-d99d82c5a5e9-50d4b744, #w-node-a9ed5aa5-2e4a-e68e-15bd-d99d82c5a5f4-50d4b744 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


